body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 20px;
}

img#volume-up {
  width: 20px;
  height: 20px;
}

.sub-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.links {
  margin-top: 30px;
  display: flex;
}

.fa {
  color: black;
  font-size: 40px; 
  margin-right: 20px;
}